{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "no-use-before-define": [2, "nofunc"]
    }
}
